version: "3.8"
services:
  app:
    build: .
    container_name: laravel-app
    ports:
      - "8082:80"
    environment:
      APP_ENV: local
      APP_DEBUG: true
      APP_KEY: base64:GENERATE_YOUR_KEY
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: railway
      DB_USERNAME: root
      DB_PASSWORD: rootpassword
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:5.7
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: railway
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
